@import url(http://fonts.googleapis.com/css?family=Bree+Serif);  
body {background-color: #F69D1F; font-family: sans-serif;}
#logosan {width:80%; height: 30%; float: center;}
#inicio{width: 25px;height:25px;}


#header{width: 100%}
#header h3 a {color:black;
              text-decoration:none; size: 20px}
#header h3{color:#C0392B;text-align:right;
           margin-right:20px;}
#header h3 img{width: 40px;height: 30px;margin-bottom:-8px}           
#header img {margin-left:;
            width:99%; 
            height:280px;float:;
}
#header h2{text-align: center;}   
#container{width:100%; 
 	         height:250px;
 	         padding:0;
} 
#menu{ width:80%;
       height:40px;
	     margin-top:10px;
	     margin-bottom:0px;
	     padding:1; text-align:left;
       margin-right:; margin-left:30%;
       background-color:; 
}
#menu select{background-color:#F4F6F7;
             color:#C0392B;
             border-radius:4px;
             border:2px solid black;
}
#menu input[type=text]{
    border: 4px solid black;
    border-radius: 4px;
    size:50px;
}
#menu form{color:#C0392B;  
           font-size:22px; background-color:; 
}
/* boton*/    
#menu input[type=submit]{
                         background-color: #4CAF50;
                         border: none;
                         color: white;
                         padding: 4px 8px;
                         text-decoration: none;
                         margin: 4px 2px;
                         cursor: pointer;
                         border-radius:4px;
} 

/*------------tabla de favores------------------*/
#favores{text-align:center;
           margin-top: 0px;
           margin-right:1% ;
           margin-left:0px;font-family:sans-serif;
           background-color: white;
}
#favores tr img {width:90%; height:100%;}
#favores table{border-spacing: "5px" ;}          
/*#productos caption{color:black; margin-bottom: 200px;} */          
#favores th{background-color:blue;
              color:white; height: 25px;} 
#favores th img{width:20px ; height:20px ;}              
#favores td{color:#4CAF50; height: 100px ;
              border-bottom: 2px solid #aabcfe;} 
#favores h4 a{text-decoration: none;
                color:black;}
 #favores td img{width: 200px;height: 150px}


 /*footer------*/
#footer{margin-right:20px;
}
#footer ul{text-align: center;list-style-type: none;
}
#footer li{display:inline; margin: 0 10px 0 0;text-decoration:none;
}
#footer li a{    text-decoration: none;
                 color:white;margin: 4px 2px;
                 cursor: pointer;
                 border-radius:4px;
                 padding: 4px 8px;
                 background-color: #4CAF50;
                 border: none;
} 
/*-----------------ingresar-----------------*/
/*#ingresar{background:rgb(234, 231, 231);}
#datos{padding: 30px 50px;text-align:left;
       margin:10px 300px;
       margin-top:30px;background-color:#ED8713E6;;
}
#datos  form{margin-left: 100px;font-family:sans-serif;
}    
#datos form input[type=text], input[type=password], input[type=email]
         {border-radius:4px;
}
#datos  input[type=submit]{
                 border-radius: 4px;
                 color:white;
                 background-color:blue;
                 border:none;
                 padding:16px 48px;
                 font-size:20px;
                 margin-top:20px;
}
#datos p{font-size: 12px;color:#787878;
}*/
.login-form {
  width: 410px;
  margin: auto;
  position: relative;
  
  background: #f3f3f3;
  border: 1px solid #fff;
  border-radius: 5px;
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/
#wrapper {
  /* Center wrapper perfectly */
  width: 410px;
  height: 400px;
  margin: 70px auto;
}
#wrapper h1{text-align: center;}  

.login-form .header {
  padding: 40px 30px 30px 30px;
}

.login-form .header h1 {
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 28px;
  line-height:34px;
  color: #414848;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
  margin-bottom: 10px;
}

.login-form .header span {
  font-size: 11px;
  line-height: 16px;
  color: #678889;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.login-form .content {
  padding: 0 60px 50px 50px;
  /*background-color: #ff7e00;*/
  width: 300;
}

/* Input field */
.login-form .content .input {
  width: 305px;
  padding: 15px 25px;
  
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #9d9e9e;
  text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
  
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.login-form .content .password, .login-form .content .pass-icon {
  margin-top: 25px;
}

.login-form .content .input:hover {
  background: #dfe9ec;
  color: #414848;
}

.login-form .content .input:focus {
  background: #dfe9ec;
  color: #414848;
  
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}
/*******************
FOOTER
*******************/

.login-form .footer {
  padding: 25px 30px 40px 30px;
  overflow: auto;
  
  background: #d4dedf;
  border-top: 1px solid #fff;
  
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.login-form .footer .button {
  padding: 11px 25px;
  
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  
  background: #FF9500; /*color boton */
  border: 1px solid #E88803; /*color boton borde*/
  border-radius: 5px;
  cursor: pointer;
  
  box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
  -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
  -webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}


.login-form .footer .button:hover {
  background: #D19D0F; /*color boton focus*/
  border: 1px solid rgba(256,256,256,0.75);
  
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .footer .button:focus {
  position: relative;
  bottom: -1px;
  
  background: #D19D0F; /*color boton clic*/
  
  box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
  -moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
  -webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Register button */
.footer .register {
  display: block;
  float: right;
  padding: 10px;
  margin-right: 20px;
  
  background: none;
  border: none;
  cursor: pointer;
  
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 18px;
  color: #414848;
  text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.login-form .footer .register:hover {
  color: #D19D0F; /*color texto focus*/
}

.login-form .footer .register:focus {
  position: relative;
  bottom: -1px;
}




/*-------------------------MENU DESPEGABLE-------------------*/
nav {
  width: 99%;
  background:#181819;
  margin-top:20px;
  position: relative;
}
 
nav ul {
  list-style:none;
  padding:0;
  margin:0;
  overflow:hidden;
}
 
nav > ul > li {
  float:left;
}
 
nav ul li a {
  text-decoration:none;
  color:#fff;
  display:block;
  padding:10px 20px;
}
 
nav ul li a:hover {
  background:#3669a3;
}
 
nav > ul > li:hover div {
  display:table;
}
 
/*Submenu*/
nav ul li div {
  width:300px;
  position: absolute;
  left:50px;
  background:#ccc;
  box-sizing:border-box;
  display:none;
}
 
nav ul li div ul{
  width:20%;
  display:table-cell;
  border-right:1px solid rgba(255,255,255,.5);
  box-sizing: border-box;
}
 
nav ul li div ul:last-child {
  border:none;
}